importFrom(survival,"Surv")
importFrom(MASS,"ginv")
importFrom(graphics, "lines", "plot")
importFrom(stats, "coef", "model.extract", "model.matrix", "printCoefmat", "pt", "qnorm", "quantile", "rexp", "sd","stepfun", "terms","as.formula", "formula", "glm", "na.omit", "nlm","pnorm", "quasibinomial")
importFrom(ICsurv,"Ispline")
importFrom(pracma,"hessian")
export("GORMC","summary.GORMC","predict.GORMC","plot.predict.GORMC")
S3method(print,GORMC)
S3method(summary,GORMC)
S3method(print,summary.GORMC)
S3method(predict,GORMC)
S3method(plot,predict.GORMC)